name: korean_words
description: A package containing the most over 5,000 used Korean words to generate combine words. Combine count is over 5 hundred billion.
version: 1.0.2
author: PlatiB <platib85@gmail.com>
homepage: https://github.com/PlatiB/korean_words

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter